<div class="row">
  <section class="main col-md-9">
    <item>
      {{#if data.item}}
      <div class="row">
        <div class="col-4">
          <h2>{{data.item.title}}</h2>
          {{#if data.item.featureImage}}
          <img
            src="{{data.item.featureImage}}"
            alt="feature Image"
            style="width:100%"
          />
          {{/if}}
        </div>

        <div class="col-8"><br /><br />
          <div class="row">
            <div class="col-12">
              Discover the most sought-after collectibles in the POP SWAP marketplace! Our Featured section highlights exclusive, rare, and limited-edition items that collectors are eager to get their hands on. Whether it's a rare PopMart figure, a vintage Pokémon card, or a highly coveted gacha item, these listings represent the best treasures POP SWAP has to offer. Don't miss out—browse through the featured items today and find the perfect addition to your collection!
              <br /><br />
              <strong>Category:</strong> {{data.item.category.name}}<br />
              <strong>Price:</strong> ${{data.item.price}}<br />
              <strong>Last Updated:</strong> {{#formatDate data.item.itemDate}}{{/formatDate}}
            </div>
          </div>
        </div>
      </div>
      {{/if}}
    </item>
  </section>

  <aside class="col-md-3">
    <br /><br />
    {{#if data.items}}
      <h4>Items</h4>
      <ul class="list-group">
        {{#each data.items}}
          <a href="/shop/{{this.id}}?category={{../viewingCategory}}" class="list-group-item">{{this.title}}</a>
        {{/each}}
      </ul>
    {{else}}
      <div class="col-md-12 text-center">
        <h2>{{data.message}}</h2>
        <p>Please try another item.</p>
      </div>
    {{/if}}

    {{#if data.categories}}
    <br /><br />
      <h4>Categories</h4>
      <ul class="list-group">
        {{#each data.categories}}
          <a href="/shop?category={{this.id}}" class="list-group-item">{{this.category}}</a>
        {{/each}}
      </ul>
    {{else}}
      <div class="col-md-12 text-center">
        <h2>{{data.message}}</h2>
        <p>Please try another category.</p>
      </div>
    {{/if}}
  </aside>
</div>
